@import url(./assets/fonts/fonts.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: 'Space_Mono';
    background-image: url(./assets/img/stars-black.jpg);
    background-size: 500%;
    background-position: center;
    background-color: black;
    color: #b5b7b7;
  }
}